<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <section id="navbar-section">
        <div class="nav-bar">
            <div class="nav-one">
            <h1> Skate Spots API </h1>
            </div>
            <div class="nav-list">
                <ul>
                    <li><a href="#">Logo</a></li>
                    <li><a href="#">Feed</a></li>
                    <li><a href="#">Profile</a></li>
                </ul>
            </div>
        </div>
    </section>
</body>
</html>